# === Core ===
Django==4.2.20
gunicorn==23.0.0
dj-database-url==2.3.0
whitenoise==6.7.0
python-dotenv==1.0.1
psycopg2-binary==2.9.10

# === Media / Storage ===
cloudinary==1.44.1
django-cloudinary-storage==0.3.0

# === Image Processing ===
opencv-python-headless==4.9.0.80
img2pdf==0.6.1
Pillow==10.4.0
numpy==1.24.4

# === Utilities ===
requests==2.32.4
urllib3==2.2.3
