{% extends 'base.html' %}
{% block title %}{{ object.title }} のPDF{% endblock %}
{% block content %}

<div class="row">
{% if object.scorefile_set.all %}
  {% for f in object.scorefile_set.all %}
    <div class="col-md-1">
      {% if "image" in f.file_type %}
        <a href="#" class="thumbnail">
          <img src="{{ f.file_url }}" width="350" alt="楽譜">
        </a>
      {% elif "pdf" in f.file_type %}
        <a href="#" class="thumbnail">
        <iframe src="{{ f.file_url }}" width="300" height="400" alt="楽譜"></iframe></a>
      {% else %}
        <a href="{{ f.file_url }}" target="_blank">ファイルを開く</a>
      {% endif %}
    </div>
  {% endfor %}
{% else %}
  <p>登録されたファイルはありません。</p>
{% endif %}
</div>
{% endblock %}
